@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400&display=swap");
@import "./styles/variables.scss";

//**********************************************
//Modificando tags padrões
h1 {
  font-size: 1.8em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

h3 {
  font-size: 1.3em;
  font-weight: 300;
}
//**********************************************
//Fontes
html {
  font-family: "Poppins", sans-serif;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

//**********************************************
//Layout
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Classe que ocupa a tela toda
.screen {
  height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  //justify-content: space-between;
}

.column {
  &:first-child {
    margin-right: 1em;
  }
}
//**********************************************
//Estilos Gerais
//Links
.link {
  color: $primary-color;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.link-titles:link {
  text-decoration: none;
}

.toast-error {
  background-color: $warning !important;
}

.toast-success {
  background-color: $success !important;
}

.toast-icon {
  color: #fff !important;
}

//**********************************************
//Componentes
.card {
  background-color: #fff;
  padding: 2em;
  border-radius: $border-radius-card;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &-login {
    min-width: 20vw;

    & > :not(:first-child) {
      margin-top: 2em;
    }
  }

  &-scheduling {
    width: 15em;
    height: 15em;
    margin-bottom: 2em;

    &:hover {
      transform: scale(1.05, 1.05);
    }
    transition: transform 0.2s;
  }

  &-profile {
    max-width: 20em;
    max-height: 20em;
  }

  &-edit-profile {
    max-width: 40em;

    > {
      *:not(:first-child) {
        margin-top: 2em;
      }
    }
  }
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > {
    *:not(:first-child) {
      margin-top: 0.7em;
    }
  }

  button {
    width: 10em;
  }
}

.group-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  *:not(:first-child) {
    margin-top: 1em;
  }
}

.input {
  border-radius: $border-radius-input-login;
  border-style: solid;
  border-width: 1px;
  border-color: $grey-light;
  padding: 0.7em;

  &:focus {
    outline: none;
  }

  &-login {
    min-width: 15em;
  }

  &-system {
    max-width: 15em;
  }
}

.select-login {
  background-color: #fff;
  min-width: 100%;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.button {
  padding: 0.7em;
  border-radius: $border-radius-button;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    filter: brightness(0.9);
  }

  &-default {
    background-color: $primary-color;
    color: #fff;
  }

  &-secondary {
    background-color: #fff;
    color: $primary-color;
  }

  &-warning {
    background-color: $warning;
    color: #fff;
  }

  &-success {
    background-color: $success;
    color: #fff;
  }
}

.warning {
  color: $warning;
  font-size: 0.7em;
}

//Para telas de celular todos os cards que forem únicos na página ocupam a largura total da tela
@media screen and (max-width: 600px) {
  .card-mobile {
    width: 100vh !important;
    border-radius: 0 !important;
    max-width: none;
  }

  .column {
    margin: 0 !important;
  }
}
