//Cores
$primary-color: #1F7A8C;
$bg-color-1: #BFDBF7;
$bg-color-2: #EAE8E8;
$warning: #FF5E5E;
$success: #1EE562;

//Borda arredondada
$border-radius-card: 0.5em;
$border-radius-input-login: 0.6em;
$border-radius-button: 0.3em;